.sectionCards {
  display: block;
  margin: 20px auto;
  max-width: 910px;
  width: 910px;
}
.cards {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  height: 380px;
  border-radius: 5px;
  margin: 20px;
  text-align: left;
}
.cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardsHeader {
  min-height: 220px;
}
.cardsHeader img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.cardsText {
  padding: 2px 16px;
}